//Remove background image when .nav-list-link active
.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
    background-image: none;
}
.nav-list .nav-list-item .nav-list-expander:hover {
  background-image: none;
}
.site-title:hover {
  background-image: none;
}
.site-button:hover {
  background-image: none;
}

.nav-list .nav-list-item {
  font-size: 18px !important;
  position: relative;
  margin: 0;
}

.nav-list.nav-category-list
  > .nav-list-item
  > .nav-list
  > .nav-list-item
  > .nav-list-link {
  color: #ffffff;
}