$sidebar-color: #143E76;
$link-color: #ffffff; 
$body-text-color: #143E76;
$body-heading-color:#143E76;
$nav-parent-link-color: #143E76;
$nav-child-link-color: #ffffff;
$base-button-color: #143E76;
$link-color: #C55910
