$sidebar-color: #f9f8f7;
$link-color: #143E76; 
$body-text-color: #143E76;
$body-heading-color:#143E76;
$nav-child-link-color: #143E76;
$base-button-color: #ffffff;
$link-color: #C25309;
$search-background-color: #24292E;
